<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img style="width: 340px; height: 180px;" src="/assets/coleta.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Agendamento</ion-card-subtitle>
        <ion-card-title>Coleta Seletiva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Tem como finalidade informar aos usuário os dias e horários que o carro da coleta irá passar na localização que for definida pelo utilizador do aplicativo como endereço, prevenindo que o cidadão coloque na calçada o lixo reciclável após a passagem do carro de coleta.</p>
      </ion-card-content>
    </ion-card>
   </ion-content>
